<h2 mat-dialog-title class="brand-font">{{ isEdit ? 'Modifier' : 'Ajouter' }} un Utilisateur</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="row g-3 py-2">
            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nom Complet</mat-label>
                    <input matInput formControlName="fullName" placeholder="Ex: Jean Dupont">
                    <mat-error *ngIf="userForm.get('fullName')?.hasError('required')">Le nom est obligatoire</mat-error>
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="email@exemple.com">
                    <mat-error *ngIf="userForm.get('email')?.hasError('required')">L'email est obligatoire</mat-error>
                    <mat-error *ngIf="userForm.get('email')?.hasError('email')">Format d'email invalide</mat-error>
                </mat-form-field>
            </div>

            <div class="col-12" *ngIf="!isEdit">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userForm.get('password')?.hasError('required')">Le mot de passe est
                        obligatoire</mat-error>
                    <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">Minimum 6 caractères</mat-error>
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Rôle</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="User">Utilisateur Standard</mat-option>
                        <mat-option value="Admin">Administrateur</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="pb-3 px-3">
        <button type="button" mat-button (click)="onCancel()">Annuler</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="userForm.invalid">
            {{ isEdit ? 'Mettre à jour' : 'Créer' }}
        </button>
    </mat-dialog-actions>
</form>