<h2 mat-dialog-title *ngIf="isModal" class="brand-font d-flex justify-content-between align-items-center">
    Détails de la Sous-Catégorie
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<div *ngIf="!isModal"
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Détails de la Sous-Catégorie</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a routerLink="/subcategories" class="btn btn-sm btn-outline-secondary">
            <span data-feather="arrow-left"></span> Retour
        </a>
    </div>
</div>

<div [ngClass]="{'mat-dialog-content': isModal}">
    <div *ngIf="subCategory" class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{{ subCategory.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">ID: {{ subCategory.id }}</h6>

            <p class="card-text">
                <strong>Catégorie Parente:</strong>
                <a [routerLink]="['/categories', subCategory.categoryId]">{{ parentCategoryName || 'Chargement...'
                    }}</a>
            </p>

            <a *ngIf="!isModal" [routerLink]="['/subcategories', subCategory.id, 'edit']"
                class="btn btn-primary">Modifier</a>
        </div>
    </div>
</div>

<mat-dialog-actions *ngIf="isModal" align="end">
    <button mat-button (click)="dialogRef.close()">Fermer</button>
</mat-dialog-actions>